.task-chip-list {
  width: 100%;
}

.mat-standard-chip .mat-chip-remove.mat-icon {
  position: absolute;
  right: 6px;
}


@media screen and (max-width: 768px)
{
  ::ng-deep  .mat-chip-list-wrapper .mat-standard-chip {
    min-width: 100%;
  }
}

@media screen and (min-width: 768px)
{
  ::ng-deep  .mat-chip-list-wrapper .mat-standard-chip {
    min-width: 30%;
  }
}

@media screen and (min-width: 992px)
{
  ::ng-deep  .mat-chip-list-wrapper .mat-standard-chip {
    min-width: 15%;
  }
}
