<mat-form-field class="task-chip-list">
  <mat-chip-list #chipList aria-label="Task selection">
    <mat-chip *ngFor="let task of tasks" [selectable]="selectable"
             [removable]="removable" (removed)="remove(task)">
      {{task.title}}
      <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
    </mat-chip>
  </mat-chip-list>
</mat-form-field>
