<h1 mat-dialog-title>Add Task</h1>
<div mat-dialog-content>
  <mat-form-field>
    <mat-label>Task title</mat-label>
    <input matInput [(ngModel)]="title">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Give a description</mat-label>
    <textarea matInput [ngModel]="description"></textarea>
  </mat-form-field>
 <mat-form-field appearance="fill">
    <mat-label>Choose a date</mat-label>
    <input matInput [matDatepicker]="picker" [(ngModel)]="date">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button [mat-dialog-close]="data.animal" cdkFocusInitial (click)="onSave()" id="saveBtn">Save</button>
</div>
