<div class="container">
  <div class="header">
    <mat-toolbar>
      <span class="title"> To-do List </span>
    </mat-toolbar>
  </div>
  <div class="content-row">
    <button mat-raised-button (click)="openDialog()">Add Task</button>
  </div>
  <div class="content-row">
    <app-tasks-list></app-tasks-list>
  </div>
</div>
